<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="icon" type="image/png" th:href="@{/icon.png}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <br>
    <br>
    <br>
    <h1>Книги:</h1>
    <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Номер</th>
        <th>Изображение</th>
        <th>Название товара</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr class="thead-light" th:each="book, stat : ${books}">
        <td th:text="${stat.index+1}"></td>
        <td>
            <img th:src="@{${book.getImageUrl()}}"
                 class="card img-fluid" style="width:100px; height: 100px;" alt=""/>
        </td>
        <td th:text="${book.getName().toString()}"></td>
        <td th:text="${book.getSum()}"></td>


    </tr>
    </tbody>

    </table>
</div>
</body>
</html>